@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(4, 4, 4, 1);

  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.battle-header.is-open .battle-header-background {
  left: 0;
}
.battle-header-button-wrapper {
  margin-left: auto;
}
.battle-header-icon {
  display: none;
}

.battle-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.battle-navigation-list.is-open {
  right: 0;
}
.battle-header-icon-menu {
  display: block;
}

.battle-header-icon-button.is-open .battle-header-icon-menu {
  display: none;
}

.battle-header-icon-button.is-open .battle-header-icon-close {
  display: block;
}

.battle-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
}

.battle-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(4, 4, 4, 1);
}
.battle-header.is-open .battle-header-background {
  left: 0;
}
.battle-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.battle-header-icon-menu {
  display: block;
}

.battle-header-icon-button.is-open .battle-header-icon-menu {
  display: none;
}

.battle-header-icon-button.is-open .battle-header-icon-close {
  display: block;
}

.battle-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.battle-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(4, 4, 4, 1);
}

.battle-navigation-list.is-open {
  right: 0;
}

.battle-navigation-link {
  font-family: Cousine;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.battle-navigation-link:hover,
.battle-navigatioт-link:focus {
  font-size: 20px;
}

.battle-header.is-open {
  background-color: transparent;
}

.battle-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .battle-navigation-img {
    display: flex;
  }
  .battle-policy-terms-header-icon-menu {
    display: none;
  }

  .battle-header {
    width: 100%;
    height: 60px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .battle-header-background {
  }
  .battle-header-icon-button {
    display: none;
  }
  .battle-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .battle-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .battle-navigation-link {
    font-family: Cousine;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 1);
    padding: 0px 30px;
    text-decoration: none;
  }

  .battle-navigation-link:hover,
  .battle-navigation-link:focus {
    color: #ffffff;
  }

  .battle-navigation-item-desk {
    display: none;
  }
}
.battle-home {
  width: 375px;
  height: 812px;
  padding: 92px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home\ \(2\).png");
  margin: auto;
}

.battle-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.battle-home-title {
  font-family: Cousine;
  font-weight: 700;
  font-style: italic;
  font-size: 92px;
  line-height: 80%;
  letter-spacing: 0%;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffffff 0%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.battle-home-text {
  font-family: Roboto Mono;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
  padding: 24px 0;
}

.battle-home-google-button-image {
  width: 184px;
  height: 50px;
}

.battle-home-google-button-link:hover .battle-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .battle-home {
    width: 1440px;
    height: 782px;
    padding: 216px 120px 0px;
    background-image: url("/img/home/Home\ \(1\).png");
  }

  .battle-home-container-top {
    width: 553px;
  }

  .battle-home-title {
    font-family: Cousine;
    font-weight: 700;
    font-style: italic;
    font-size: 92px;
    line-height: 80%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .battle-home-text {
    font-family: Roboto Mono;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}
.battle-why {
  width: 375px;

  margin: auto;
  padding: 40px 15px;
}

.battle-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.battle-why-item {
  display: flex;
  gap: 16px;
  align-items: start;
  width: 343px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  background: rgba(42, 42, 43, 1);
}

.battle-why-text-bold {
  font-family: Cousine;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 90%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.battle-why-text {
  font-family: Cousine;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(149, 153, 157, 1);
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .battle-why {
    width: 1440px;

    padding: 100px 120px;
  }
  .battle-why-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .battle-why-item {
    width: 386.6666564941406px;
    height: 190px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    gap: 16px;
  }
}

.battle-about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.battle-about-title {
  font-family: Cousine;
  font-weight: 700;
  font-style: italic;
  font-size: 34px;
  line-height: 80%;
  letter-spacing: 0%;
  text-transform: uppercase;
  background: linear-gradient(205.35deg, #ffffff 44.26%, #d4d4d4 47.27%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.battle-about-text-bold {
  font-family: Cousine;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 90%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 32px 0 24px;
}

.battle-about-text {
  font-family: Cousine;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .battle-about {
    padding: 100px 120px;
    width: 1440px;
  }
  .battle-about-title {
    font-family: Cousine;
    font-weight: 700;
    font-style: italic;
    font-size: 34px;
    line-height: 80%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .battle-about-text-bold {
    padding: 60px 0 32px;
  }

  .battle-about-text {
    font-family: Cousine;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}
.battle-characters {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  height: 1217px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Mai\ characters.png");
}

.battle-characters-list {
  display: flex;
  flex-direction: column;
  padding: 370px 20px 0;
  gap: 390px;
}
.battle-characters-item {
  width: 305.9999929012269px;
  height: 167.99999610263438px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  transform: rotate(-8.67deg);
}
.battle-characters-item-two {
  transform: rotate(4.48deg);
  margin-left: -10px;
}
.battle-characters-text-bold {
  font-family: Cousine;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 90%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.battle-characters-text {
  font-family: Cousine;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(149, 153, 157, 1);
  text-transform: uppercase;
  padding-top: 10px;
}

@media screen and (min-width: 1200px) {
  .battle-characters {
    padding: 100px 120px 0;
    width: 1440px;
    height: 767px;
    background-image: url("/img/Mai\ characters\ \(1\).png");
  }
  .battle-characters-list {
    display: flex;
    flex-direction: row;
    padding: 349px 0 0 450px;
    gap: 40px;
  }
  .battle-characters-item {
    width: 345.99999696935714px;
    height: 167.99999852847398px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    transform: rotate(-5.46deg);
  }
  .battle-characters-item-two {
    transform: rotate(7.56deg);
    margin-left: -0px;
  }
  .battle-characters-text-bold {
    font-family: Cousine;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 90%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .battle-characters-text {
    font-family: Cousine;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: rgba(149, 153, 157, 1);
    text-transform: uppercase;
    padding-top: 10px;
  }
}

.battle-reviews {
  width: 375px;
  background: rgba(237, 241, 245, 1);

  margin: auto;
  padding: 40px 0 40px 16px;
}

.battle-reviews-list {
  padding-top: 32px;
}

.battle-reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 272px;
  background: rgba(255, 255, 255, 1);
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
}
.battle-reviews-text-two {
  font-family: Cousine;
  font-weight: 700;
  font-style: italic;
  font-size: 92px;
  line-height: 80%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
  color: rgba(110, 112, 118, 1);
}
.battle-reviews-text {
  font-family: Cousine;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(4, 4, 4, 1);
  margin: 16px 0 64px;
}

.battle-reviews-text-bold {
  font-family: Cousine;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;

  color: rgba(149, 153, 157, 1);
}

@media screen and (min-width: 1200px) {
  .battle-reviews {
    width: 1440px;

    padding: 100px 0 100px 120px;
  }
  .battle-reviews-list {
    padding-top: 60px;
  }

  .battle-reviews-item {
    margin: 0 10px;
    width: 387px;
    height: 272px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
  }
}

.battle-gallery {
  width: 375px;
  background: rgba(237, 241, 245, 1);

  margin: auto;
  padding: 40px 0 40px 16px;
}
.battle-gallery-title {
  -webkit-text-fill-color: rgba(4, 4, 4, 1);
}
.battle-gallery-list {
  width: auto;
  padding-top: 32px;
  margin: auto;
}

.battle-gallery-item {
  width: 322px;
  height: 145px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.battle-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .battle-gallery {
    width: 1440px;

    padding: 100px 0 100px 120px;
  }

  .battle-gallery-item {
    width: 842px;
    height: 379px;
    margin: 0 10px;
  }

  .battle-gallery-list {
    padding: 60px 0 0px;
  }
}

.battle-features {
  width: 375px;
  margin: auto;
  padding: 40px 0 40px 16px;
}

.battle-features-list {
  padding-top: 32px;
}

.battle-features-item {
  width: 322px;
  height: 162px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  background: rgba(42, 42, 43, 1);

  margin: 0 4px;
}

.battle-features-text-bold {
  font-family: Cousine;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 90%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.battle-features-text {
  font-family: Cousine;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-top: 16px;
  color: rgba(149, 153, 157, 1);
}

@media screen and (min-width: 1200px) {
  .battle-features {
    width: 1440px;
    padding: 100px 0 100px 120px;
  }
  .battle-features-list {
    padding-top: 60px;
  }

  .battle-features-item {
    width: 386px;
    height: 162px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;

    margin: 0 10px;
  }
}

.battle-policy-terms-container {
  padding: 100px 16px 40px;
  width: 375px;
  background: rgba(255, 255, 255, 1);
  color: rgba(24, 27, 29, 1);
  margin: auto;
  font-family: Cousine;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
}

.battle-policy-terms-title {
  text-transform: uppercase;
  font-family: Cousine;
  font-weight: 700;
  font-style: italic;
  font-size: 34px;
  line-height: 80%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.battle-policy-terms-text {
  padding-top: 20px;
  font-family: Cousine;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 90%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.battle-policy-terms-texts {
  padding-top: 8px;
}

.battle-policy-terms-text-one {
  padding-top: 20px;
}

.battle-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.battle-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.battle-email-link {
  color: inherit;
  text-decoration: none;
}

.battle-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .battle-policy-terms-container {
    padding: 124px 100px 100px;
    width: 1440px;
    font-family: Cousine;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .battle-policy-terms-title {
    font-family: Cousine;
    font-weight: 700;
    font-style: italic;
    font-size: 92px;
    line-height: 80%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .battle-policy-terms-text {
    padding-top: 40px;
    font-family: Cousine;
    font-weight: 700;
    font-style: italic;
    font-size: 34px;
    line-height: 80%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .battle-policy-terms-text-one {
    padding-top: 30px;
  }

  .battle-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.battle-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  padding: 40px 0px;
}

.battle-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.battle-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  font-family: Cousine;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.battle-footer-text {
  text-decoration: none;
  color: #ffffff;
}

.battle-footer-copyright {
  font-family: Cousine;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .battle-footer {
    width: 1440px;
    padding: 80px 80px 60px;
  }

  .battle-footer-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 330px;
  }

  .battle-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 32px;
  }

  .battle-footer-text {
    font-family: Cousine;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .battle-footer-copyright {
    font-family: Cousine;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
  }
}

.battle-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;

  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
}

.battle-cookie-popup-text-two {
  font-family: Cousine;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: rgba(24, 27, 29, 1);
}

.battle-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.battle-cookie-button {
  border: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(4, 4, 4, 1);
  width: 167.5px;
  font-family: Cousine;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 16px 0;
}

#accept-cookies {
  background: rgba(4, 4, 4, 1);
  color: rgba(255, 255, 255, 1);
}

.battle-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .battle-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .battle-cookie-popup-text-two {
    font-family: Cousine;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-transform: uppercase;

    width: 840px;
  }

  .battle-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .battle-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
